<div>
  <h1 class="device"><%= @device.name %></h1>
  <div>
    <%= for {measurement, measurements} <- @device.measurements do %>
      <p><%= measurement %></p>
      <p><%= measurements.measurements %></p>
    <% end %>
  </div>
</div>
