<div>
  <h1 class="device"><%= @device.name %></h1>
  <div>
    <%= for {measurement, measurements} <- @device.measurements do %>
      <p>Name: <%= measurement %></p>
      <p>Measurements: <%= inspect(measurements.measurements) %></p>
      <p>Average: <%= DeviceTracker.Metrics.average(measurements.measurements) %></p>
    <% end %>
  </div>
</div>
